In [1]:
import pandas as pd

In [4]:
#dictionary ke dataframe
companies = {
    'id' : range(1, 6),
    'name' : ['grab', 'traveloka', 'telkom', 'bank indonesia', 'gits'],
    'location' : ['jakarta', 'tangerang', 'bandung', 'jakarta', 'jakarta']
}

companies_df = pd.DataFrame(companies)
companies_df

   id            name   location
0   1            grab    jakarta
1   2       traveloka  tangerang
2   3          telkom    bandung
3   4  bank indonesia    jakarta
4   5            gits    jakarta

In [7]:
#pandas series == sama dengan 1 kolom dalam sebuah tabel

employees = [5000, 7865, 5643, 9998, 7000]
employees_series = pd.Series(employees)
print(employees)
print(employees_series)

[5000, 7865, 5643, 9998, 7000]
0    5000
1    7865
2    5643
3    9998
4    7000
dtype: int64

In [9]:
#pandas read file
#read_csv
mobile_prices = pd.read_csv('mobile_prices_2023.csv')
mobile_prices.head()

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Price in INR,Date of Scraping
0,"POCO C50 (Royal Blue, 32 GB)",4.2,"33,561",2 GB RAM,32 GB ROM,8MP Dual Camera,5MP Front Camera,5000 mAh,"Mediatek Helio A22 Processor, Upto 2.0 GHz Pro...","₹5,649",2023-06-17
1,"POCO M4 5G (Cool Blue, 64 GB)",4.2,"77,128",4 GB RAM,64 GB ROM,50MP + 2MP,8MP Front Camera,5000 mAh,Mediatek Dimensity 700 Processor,"₹11,999",2023-06-17
2,"POCO C51 (Royal Blue, 64 GB)",4.3,"15,175",4 GB RAM,64 GB ROM,8MP Dual Rear Camera,5MP Front Camera,5000 mAh,Helio G36 Processor,"₹6,999",2023-06-17
3,"POCO C55 (Cool Blue, 64 GB)",4.2,"22,621",4 GB RAM,64 GB ROM,50MP Dual Rear Camera,5MP Front Camera,5000 mAh,Mediatek Helio G85 Processor,"₹7,749",2023-06-17
4,"POCO C51 (Power Black, 64 GB)",4.3,"15,175",4 GB RAM,64 GB ROM,8MP Dual Rear Camera,5MP Front Camera,5000 mAh,Helio G36 Processor,"₹6,999",2023-06-17