# Variabel dan Tipe data Dasar

In [2]:
# global variabel
num = 3 
name = 'Fulan'


print('tipe dari num :{}'.format(type(num)))

tipe dari num :<class 'int'>

In [5]:
print('tipe dari name : {}'.format(type(name)))

tipe dari name : <class 'str'>

In [6]:
height = 165.6
print('tipe dari height : {}'.format(type(height)))

tipe dari height : <class 'float'>

In [7]:
is_Male = True
print(type(is_Male))

<class 'bool'>

In [8]:
# assignment operator

age = 3
print(age)

3

## Basic method string

In [9]:
#method upper dan lower
name = 'poke sEkali'
print(name.lower())
print(name.upper())

poke sekali
POKE SEKALI

In [10]:
#method string = strip
name = '    anggaras kontolas'

print(name.strip()) #argumen berisi white space || bisa juga berisi sub string
print(name)

anggaras kontolas
    anggaras kontolas

In [11]:
#method string startswith dan endswith
name1 = 'alif'
name2 = 'anggaras'
name3 = 'tendi'

print(name1.startswith('a')) #ekuivalen dengan endswith
print(name2.startswith('a'))
print(name3.startswith('a'))

True
True
False

In [12]:
#memisah dan menggabungkan string
#join => menggabungkan
#split => memisah
import random

name = 'poke pendongeng nub beban'
new_names = name.split()

a = random.randint(0,3)
b = random.randint(0,5)

print(name.split()) #split berdasarkan whitespace

names = ['anggaras', 'gowciri', '10di', 'khamskun', 'hamura-dono', 'nSchaa']
print('{} adalah {} matmur'.format(names[b], new_names[a]))
print(", ".join(names))

['poke', 'pendongeng', 'nub', 'beban']
gowciri adalah poke matmur
anggaras, gowciri, 10di, khamskun, hamura-dono, nSchaa

In [13]:
#pengecekan string
nama = 'Monkey D. Luffy'
nickname = 'luffy'
enemy_name = 'germa66'

#isuper() dan islower()
print(nama.isupper())

#isalpha() => berisi alphabet
print(nama.isalpha())
print(nickname.isalpha())

#isalnum() =>berisi aphabet + numeric
print(enemy_name.isalnum())

#isdecimal() => berisi numerik
print('123'.isdecimal())

False
False
True
True
True

In [14]:
#mengganti elemen string
#replace

title = 'one piece arc : arabasta'

print(title.replace('arabasta', 'marinford'))

one piece arc : marinford

In [15]:
#method mengatur rata baris
print('-----first line-----')
print('-----rjust----------'.rjust(30))
print('-----ljust----------'.ljust(30, '!'))
print('-----last line------')

-----first line-----
          -----rjust----------
-----ljust----------!!!!!!!!!!
-----last line------

In [16]:
#indexing in string

words = 'halo nama saya muhamad'
print(words[0])
print(words[-1])
print(len(words))
print(words[1:-1]) #negatif satu disini tidak mengikuri

for letter in words :
    if letter != ' ':
        print(letter)

h
d
22
alo nama saya muhama
h
a
l
o
n
a
m
a
s
a
y
a
m
u
h
a
m
a
d

## Beberapa contoh penerapannya

In [17]:
def count(word, letter):
    res = 0
    for item in word :
        if item == letter:
            res += 1
    return res

words = 'hallo asu'
count(words, 'a')

2

In [18]:
#convert string to list

name = 'muhamad irkham khudzifa al rody'
print(name.split())

['muhamad', 'irkham', 'khudzifa', 'al', 'rody']

In [19]:
subject = 'muhirkham21@gmail.com senin 27 februari'
res = subject.split()
print(res)
email = res[0]
print(email)

['muhirkham21@gmail.com', 'senin', '27', 'februari']
muhirkham21@gmail.com

In [20]:
def read_csv(file, delimiter):
    with open(file, 'r') as file:
        res = dict()
        first_line = True
        for line in file:
            line = line.rstrip()
            if first_line:
                line = line.split(delimiter)
                for title in line :
                    res[title] = []
                first_line= False
            else:
                line = line.split(delimiter)
                titles = list(res.keys())
                for i in range(len(titles)):
                    res[titles[i]].append(line[i])
    return res     
            
my_dict = read_csv('FILE1.txt', ',')

In [21]:
import pandas as pd

df = pd.DataFrame(my_dict)
df

                   email     nama     alamat
0  muhirkham21@gmail.com   irkham  indonesia
1      muhamad@gmail.com  muhamad  indonesia
2      irkham@google.com     kham       arab
3        ahmad@gmail.com    ahmad      qatar
4       alrody@yahoo.com     rody  indonesia