# Tipe data iteration

In [1]:
#pendefinisian list, tuple, set, dictionary
yonkou = ['shp', 'rhp', 'bbp', 'cg']

shp_crew = ('luffy', 'zoro', 'sanji', 'ayang robin', 'nami-swan')

rank = {1, 2, 3, 4, 5}

pirates = {
    'shp' : list(shp_crew),
    'rhp' : ['shanks', 'beckman', 'roux', 'yassop', 'lemon juice']
}

In [2]:
#slicing
print(yonkou[0])
print(yonkou[:3])
print(yonkou[-1])
print(yonkou[1:-1])

shp
['shp', 'rhp', 'bbp']
cg
['rhp', 'bbp']

In [3]:
#mengetahui panjang data
#len()
#min() dan max()
#sort()

print(len(yonkou))
rank = list(rank)
print('max rank {} min rank {}'.format(max(rank), min(rank)))
rank.sort()

4
max rank 5 min rank 1

In [4]:
#menghitung banyakya suatu elemen
new_list = [1, 2, 2, 3, 3, 4, 5]
print(new_list.count(2))

2

In [5]:
#operator keanggotaan
print('shp' in yonkou)
print('rhp' not in yonkou)

True
False

In [6]:
#menambahkan dan menghapus item pada list

rank.append('7')
print(rank)
rank.remove('7')
print(rank)

#insert()
rank.insert(1, '7')
rank.pop(1)
print(rank)

[1, 2, 3, 4, 5, '7']
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [7]:
#concate list
a = [1, 3, 5, 7, 1]
b = [2, 4, 6, 8]

c = a+b
print(c)

[1, 3, 5, 7, 1, 2, 4, 6, 8]

In [8]:
#more method
a.count(1)

2

In [9]:
a.sort()
a

[1, 1, 3, 5, 7]

In [10]:
#enumerate list
yonkou = ['akagami', 'mugiwara', 'kurohige', 'buggy']

for i, name in enumerate(yonkou):
    print('yonkou ke {} adalah {}'.format(i+1, name))

yonkou ke 1 adalah akagami
yonkou ke 2 adalah mugiwara
yonkou ke 3 adalah kurohige
yonkou ke 4 adalah buggy

In [11]:
#more about dictionary
#key-value tipe data collection

data = dict()
data['name'] = ['irkham', 'muhamad']
data['adress'] = ['indonesia', 'usa']
print(data)

data['name'].append('ahmad')
print('name' in list(data.keys()))
print(data.get('name', 0)) #mencari nilai untuk key name jika tidak ada akan me return 0
print('name' in data)
print(data.items())

{'name': ['irkham', 'muhamad'], 'adress': ['indonesia', 'usa']}
True
['irkham', 'muhamad', 'ahmad']
True
dict_items([('name', ['irkham', 'muhamad', 'ahmad']), ('adress', ['indonesia', 'usa'])])

In [12]:
def count_letter(sentence):
    dictionary = dict()
    for letter in sentence:
        if letter not in dictionary:
            dictionary[letter] = 1
        else:
            dictionary[letter] += 1
    return dictionary

print(count_letter('aaaiiu'))

def count_get(sentence):
    dictionary = dict()
    for letter in sentence:
        dictionary[letter] = dictionary.get(letter, 0) + 1
    return dictionary

print(count_get('a'))

{'a': 3, 'i': 2, 'u': 1}
{'a': 1}

In [13]:
my_dict = count_get('aaaaiiiu')
print(my_dict)

def big(dictionary):
    initial = None
    bigest = None
    for key, value in dictionary.items():
        if initial is None or value > initial :
            bigest = key
            initial = value
            
    return bigest, initial

big_letter, much = big(my_dict)
print(big_letter, much)

{'a': 4, 'i': 3, 'u': 1}
a 4

In [14]:
#tuple

nama = 'aku adalah seorang kapiten dan aku juga seorang adalah ya'
kamus = count_get(nama)
print(sorted(kamus.items()))

[(' ', 9), ('a', 14), ('d', 3), ('e', 3), ('g', 3), ('h', 2), ('i', 1), ('j', 1), ('k', 3), ('l', 2), ('n', 4), ('o', 2), ('p', 1), ('r', 2), ('s', 2), ('t', 1), ('u', 3), ('y', 1)]

In [15]:
rank = [(value, key) for key,value in kamus.items()]
rank = sorted(rank, reverse=True)
print(rank[:5])

[(14, 'a'), (9, ' '), (4, 'n'), (3, 'u'), (3, 'k')]

### Map dan Filter

In [2]:
def f(x):
    return 2*x

def is_even(x):
    return x % 2 == 0

In [3]:
import numpy as np 

data = np.arange(10)
f_data = np.array([f(x) for x in data ])

print(data)
print(f_data)

[0 1 2 3 4 5 6 7 8 9]
[ 0  2  4  6  8 10 12 14 16 18]

In [4]:
f_data = list(map(f, data))
print(f_data)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [5]:
even_data = list(filter(is_even, data))
print(even_data)

[0, 2, 4, 6, 8]

In [6]:
f = lambda x : 2*x

print(list(map(f, data)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [7]:
f = lambda x : x % 2 == 0

print(list(filter(f, data)))

[0, 2, 4, 6, 8]

In [1]:
one = True
two = False

one_two = [one, two]
print(any(one_two))
print(all(one_two))

True
False

In [3]:
## latihan dictionary

def getValue():

    _template = {
        'name' : 'your name',
        'nim' : 0000,
        'major' : 'your major'
    }

    try :
        student = dict.fromkeys(_template.keys())
        student['name'] = input('input your name: ')
        student['nim'] = int(input('input your nim in number format: '))
        student['major'] = input('input your major: ')
    except:
        print('your input in invalid')
        return student
    else:
        return student
    

def displayValue(data):
    return f'hallo {data['name']} nim {data['nim']} jurusan {data['major']}'

print(displayValue(getValue()))

your input in invalid
hallo khamz nim None jurusan None